<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" style="background-image:url(http://localhost:5000/img/breadcrumb.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>
                        {{ navigationGroup.pageTitle }}
                    </h2>
                    <div class="breadcrumb__option">
                        <a *ngFor="let item of navigationGroup.items" [routerLink]="item.url" [queryParams]="item.queryParams">
                            {{item.label}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- Breadcrumb Section End -->