<div class="checkout">
  <div class="container">
    <div class="checkout__form" *ngIf="!submitted">
      <h4>Billing Details</h4>
      <form
        name="checkoutForm"
        (ngSubmit)="f.form.valid && onCheckoutSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="row">
          <div class="col-lg-8 col-md-6">
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Fist Name<span>*</span></p>
                  <input
                    type="text"
                    class="form-control"
                    name="firstName"
                    [(ngModel)]="checkoutForm.firstName"
                    required
                    #firstName="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="firstName.errors && f.submitted"
                  >
                    FirstName is required!
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Last Name<span>*</span></p>
                  <input
                    type="text"
                    class="form-control"
                    name="lastName"
                    [(ngModel)]="checkoutForm.lastName"
                    required
                    #lastName="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="lastName.errors && f.submitted"
                  >
                    LastName is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Country<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="country"
                [(ngModel)]="checkoutForm.country"
                required
                #country="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="country.errors && f.submitted"
              >
                Country is required!
              </div>
            </div>
            <div class="checkout__input">
              <p>Address<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="address"
                [(ngModel)]="checkoutForm.address"
                required
                #address="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="address.errors && f.submitted"
              >
                Address is required!
              </div>
            </div>
            <div class="checkout__input">
              <p>Town/City<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="city"
                [(ngModel)]="checkoutForm.city"
                required
                #city="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="city.errors && f.submitted"
              >
                Town/City is required!
              </div>
            </div>
            <div class="checkout__input">
              <p>Country/State<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="state"
                [(ngModel)]="checkoutForm.state"
                required
                #state="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="state.errors && f.submitted"
              >
                Country/State is required!
              </div>
            </div>
            <div class="checkout__input">
              <p>Postcode/ZIP<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="postcode"
                [(ngModel)]="checkoutForm.postcode"
                required
                #postcode="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="postcode.errors && f.submitted"
              >
                Postcode/ZIP is required!
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Phone<span>*</span></p>
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    [(ngModel)]="checkoutForm.phone"
                    required
                    #phone="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="phone.errors && f.submitted"
                  >
                    Phone is required!
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="checkout__input">
                  <p>Email<span>*</span></p>
                  <input
                    type="text"
                    class="form-control"
                    name="email"
                    [(ngModel)]="checkoutForm.email"
                    required
                    #email="ngModel"
                  />
                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="email.errors && f.submitted"
                  >
                    Email is required!
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout__input">
              <p>Order notes<span>*</span></p>
              <input
                type="text"
                class="form-control"
                name="orderNotes"
                [(ngModel)]="checkoutForm.orderNotes"
                required
                #orderNotes="ngModel"
              />
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="orderNotes.errors && f.submitted"
              >
                Order notes is required!
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="checkout__order">
              <h4>Your Order</h4>
              <div class="checkout__order__products">
                Products <span>Total</span>
              </div>
              <ul *ngFor="let product of curCartData.cart_data">
                <li>
                  {{ product.name }}
                  <span>{{ product.price * product.quantity }}</span>
                </li>
              </ul>
              <div class="checkout__order__total">
                Total <span>{{ curCartData.total }}</span>
              </div>
              <button type="submit" class="site-btn">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="checkout__loading" *ngIf="submitted">
      <img src="{{ apiUrl }}img/loading.gif" />
    </div>
  </div>
</div>
