<div class="latest-product__text">
  <h4>Top Rated Products</h4>
  <owl-carousel-o
    [options]="customOptions"
    [class]="['owl-theme', 'latest-product__slider']"
  >
    <ng-container *ngFor="let TopRatedProduct of TopRatedProducts">
      <ng-template carouselSlide>
        <a href="#" class="latest-product__item">
          <div class="latest-product__item__pic">
            <img [src]="TopRatedProduct.image" alt="" />
          </div>
          <div class="latest-product__item__text">
            <h6>{{ TopRatedProduct.name }}</h6>
            <span>{{ TopRatedProduct.price }}</span>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
