<div class="latest-product__text">
  <h4>Review Products</h4>
  <owl-carousel-o
    [options]="customOptions"
    class="['owl-theme', 'latest-product__slider']"
  >
    <ng-container *ngFor="let ReviewProduct of reviewProducts">
      <ng-template carouselSlide>
        <a href="#" class="latest-product__item">
          <div class="latest-product__item__pic">
            <img [src]="ReviewProduct.image_url" alt="" />
          </div>
          <div class="latest-product__item__text">
            <h6>{{ ReviewProduct.name }}</h6>
            <span>{{ ReviewProduct.price }}</span>
          </div>
        </a>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
