<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <product-grid [products]="cartItems"></product-grid>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="shopping__cart__btns">
        <a [routerLink]="['/']" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
        <a [routerLink]="" class="primary-btn cart-btn cart-btn-right" (click)="updateCart()" *ngIf="this.cartItems.length !== 0">
          <span class="icon_loading"></span>Update Cart
        </a>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="this.cartItems.length !== 0">
      <app-discount-codes></app-discount-codes>
    </div>
    <div class="col-lg-6" *ngIf="this.cartItems.length !== 0">
      <app-cart-summary></app-cart-summary>
    </div>
  </div>
</div>
